main {
    text-align: center;
    background-color: rgb(6, 82, 153);
    display: inline-block;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: white;
    font-size: 12px;
    text-align: left;
}

.inputs{
    margin: 5px auto;
    width: 175px;
    height: 25px;
    border-radius: 3px;
    border-width: 0px;
    font-size: 10px;
    padding: 0px 5px;
}
#botao{
    color: white;
    background-color: brown;
    border-radius: 3px;
    border-width: 0px;
    height: 20px;
    padding: 3px 5px;
    font-size: 10px;
}
#divBotao{
    text-align: right;
    margin: 3px auto;
    
}